<div id="n" class="">
  
    <div class="section no-header" id="news">
      <div class="w-container">
      	<ul>
      		<li>
      			<div class="single-news-thumb-cont">
	              <div class="single-news-thumb-head">
	                <h3 class="single-news-thumb-h3">News Title</h3>
	                <div class="expand_news">+</div>
	              </div>
	              <div class="thumb-wrap">
	                <img src="images/intern_3.jpg" alt="5400e3c60a902ac916a6c813_intern_3.jpg">
	              </div>
	              <p class="single-news-thumb-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
	                cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.&nbsp;</p>
	            </div>
            </li>
      		<li>
      			<div class="single-news-thumb-cont">
      			  <div class="single-news-thumb-head">
      			    <h3 class="single-news-thumb-h3">Interview with Odge</h3>
      			    <div class="expand_news">+</div>
      			  </div>
      			  <div class="thumb-wrap video-thumb">
      			    <div youtubevideo codeUrl="https://www.youtube.com/watch?v=UL2YkgWdh2k"></div>
      			  </div>
      			  <p class="single-news-thumb-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
      			    cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus&nbsp;tristique posuere.</p>
      			</div>
      		</li>
      		<li>
      			<div class="single-news-thumb-cont">
	              <div class="single-news-thumb-head">
	                <h3 class="single-news-thumb-h3">News Title</h3>
	                <div class="expand_news">+</div>
	              </div>
	              <div class="thumb-wrap">
	                <img src="images/intern_3.jpg" alt="5400e3c60a902ac916a6c813_intern_3.jpg">
	              </div>
	              <p class="single-news-thumb-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
	                cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.&nbsp;</p>
	            </div>
      		</li>
      		<li>
      			<div class="single-news-thumb-cont">
	              <div class="single-news-thumb-head">
	                <h3 class="single-news-thumb-h3">News Title</h3>
	                <div class="expand_news">+</div>
	              </div>
	              <div class="thumb-wrap">
	                <img src="images/intern_3.jpg" alt="5400e3c60a902ac916a6c813_intern_3.jpg">
	              </div>
	              <p class="single-news-thumb-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo
	                cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.&nbsp;</p>
	            </div>
      		</li>
      	</ul>
      </div>
    </div>


</div>
<div class="back_home animated slideOutUp" ng-click="closeBtn()"><i class="fa fa-times"></i></div>
