<div id="n" class="">
  
    <div class="section no-header" id="news">
      <div class="w-container">
      	<ul class="flex-container">
      		<li ng-repeat="news in newsObj">
      			<div class="single-news-thumb-cont">
	              <div class="single-news-thumb-head">
	                <h3 class="single-news-thumb-h3" ng-bind="news.title"></h3>
	                
	              </div>
	              <div class="thumb-wrap video-thumb" ng-show="news.youtube_video != 'null' && news.youtube_video != ''">
      			    <div youtubevideo codeUrl="{{news.youtube_video}}" ng-show="news.youtube_video != 'null'"></div>
      			  </div>
	              <div class="thumb-wrap" ng-hide="news.youtube_video != 'null' && news.youtube_video != ''">
	                <img src="{{news.picture}}" alt="">
	              </div>
	              <p class="single-news-thumb-p" ng-bind-html="news.content | cut:true:360:' ...'" ng-hide="$index==selectedNews"></p>
	              <p class="single-news-thumb-p" ng-bind-html="news.content" ng-show="$index==selectedNews"></p>
				</div>
	            <div class="expand_news" ng-click="expandNews($index)" ng-hide="$index==selectedNews"><i class="fa fa-plus-square"></i></div>
	            <div class="expand_news" ng-click="resetNewsIndex();" ng-show="$index==selectedNews"><i class="fa fa-minus-square"></i></div>
            </li>
		</ul>
      </div>
    </div>


</div>
<div class="back_home animated slideOutUp" ng-click="closePanel()"><i class="fa fa-times"></i></div>


