<div id="n" class="">
  
    <div class="section" id="single">
      <div class="w-container">
        <div class="w-row">
          <div class="w-col w-col-5 left_col">
            <h1 class="ng-binding"></h1>
            <p class="ng-binding"></p>
          </div>
          <div class="w-col w-col-7 right_col">
            <h3 class="gallery_title">Gallery:</h3>
            <div id="photoContainer">
            	<!-- ngRepeat: picture in singleTattooPhotosObj | limitTo : thumbLimit -->
            </div>
          </div>
        </div>
      </div>
    </div>

    
</div>
