
<div id="s" class="">
  
    <div class="single_header" id="single_header">
      <div class="back_home animated" ng-click="closePanel()"><i class="fa fa-times"></i></div>
      <div class="w-container fb_header" >
        <div class="loaderCont" ng-hide="loaded"><i class="fa fa-cog"></i></div>
        <img class="fb_header_img" id="fbCoverImg" src="{{singleTattoInfoObj.cover.source}}" ng-style="coverStyle" ng-show="loaded">
      </div>
    </div>

    <div class="icon_nav_section" id="profile_icon_nav">
      <div class="arrow left" id="left_arrow" ng-click="prevTattoo()">&lt;</div>
      <!-- <div class="arrow left" id="left_arrow" ng-click="prevTattoo()" ng-hide="tattooPosition == 0">&lt;</div> -->
      <div class="w-container icon_nav">
      	<div class="circle_thumb" ng-repeat="profilePicUrl in tattooProfilePic | orderBy:'id'" ng-click="goToTattoo(profilePicUrl.id - 1)" ng-class="{'selected': tattooPosition == profilePicUrl.id - 1}">
      		<img src="{{profilePicUrl.url}}"/>
      	</div>
      </div>
      <!-- <div class="arrow right" id="right_arrow" ng-click="nextTattoo()" ng-hide="tattooPosition == tattooProfilePic.length-1">&gt;</div> -->
      <div class="arrow right" id="right_arrow" ng-click="nextTattoo()">&gt;</div>
    </div>

    <div class="section" id="single">
      <div class="w-container">
        <div class="w-row">
          <div class="w-col w-col-5 left_col">
            <h1>{{singleTattoInfoObj.name}}</h1>
            <p>{{singleTattoInfoObj.about}}</p>
          </div>
          <div class="w-col w-col-7 right_col">
            <h3 class="gallery_title">Gallery:</h3>
            <div id="photoContainer">
            	<div ng-repeat="picture in singleTattooPhotosObj | limitTo : thumbLimit" class="big_thumb" style="background-image:url({{picture.images[picture.images.length-1].source}})" ng-click="toggleGallery('tattoo')">
            	</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="bigLoader" ng-hide="loaded" ng-style="fullBgCover">
	<div class="loaderCenter">
		<i class="fa fa-cog"></i>
	</div>
</div>
